
.imagentamañoiconos
{
    width:200px ;
    height:90px ;

}
.imagentamañoiconosdos
{
    width:58px ;
    

}

.imagentamañofotos
{
    position:relative;
    top:1px;
    width:300px;
    height:350px;
}


.redondeotargeta {
    border-radius: 55px;
}

.redondeotargetasuave {
    border-radius: 45px;
}

.redondeotargetasuavemin {
    border-radius: 10px;
}