.tamañopersonal{
    width: 450px;
    height: 270px;
}

.tamañopersonalgr{
    width: 620px;
    height: 320px;
}
.tamañopersonalgrgr{
    width: 100%;
    height: 550px;
}
.tamañopersonalmediano{
    width: 450px;
    height: 300px;
}

.tamañopersonalpequeno{
    width: 150px;
    height: 100px;
}

.tamañopersonalpequenono{
    width: 80;
    height: 250px;
}

.imagbackresponsive {
    /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}