
section {
  padding: 60px 0;
  overflow: hidden;
}



.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #212121;
}
.section-title h5 {
  font-size: 25px;
  font-weight: bold;
  
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #212121;
}
.section-title h6 {
    font-size: 22px;
    font-weight: bold;
    
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #212121;
  }

.section-title h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #212121;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

.ubicacionletra {
  text-align: center;
  padding-bottom: 30px;
}
.letragrande 
  {
    font-size: 32px;
    font-weight: bold;
    
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #f7fafd;
  }

  .letragrandemediana {
    font-size: 25px;
  font-weight: bold;
  
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #f9fafd;
  }

  .letramediana {
    font-size: 32px;
    font-weight: bold;
    
    margin-bottom: 14px;
    padding-bottom: 14px;
    position: relative;
    color: #212121;
  }
  .letramedianapequena {
    font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #212121;
  }

  
  .letragrandota{
    font-size: 45px;
    font-weight: bold;
    
    margin-bottom: 14px;
    padding-bottom: 14px;
    position: relative;
    color: #212121;
  }

  .fuenteletra {
    color: #212121;
  }
  .fuenteletrafuer {
    font-weight: 600;
    color: #212121;
    
  }
   
  .letragrandotaindex{
    font-size: 26px;
    font-weight: bold;
   
  }


